<!DOCTYPE html> 
<html> 
    <head> 
        <%- include ('./partials/head2') %> 
        <%- include ('./partials/navbar') %> 
    </head> 
    <body>             
        <%- include ('./partials/addNews') %> 
    </body> 

    <%- include ('./partials/footer2') %> 
    <!-- <p class="copyright">Copyright &#169; 2021 TCS Batch 5 Group 3. Our group is not responsible for the content of external sites.</p>
    <script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });    
    </script> -->

</html>






