<!DOCTYPE html> 
<html> 
    <head> 
        <%- include ('./partials/head') %> 
        <%- include ('./partials/navbar2') %> 
    </head> 
    <body>    
        <div>
            <%- include ('./partials/contactUs') %> 
        </div>          
    </body> 
    <%- include ('./partials/footer') %> 
</html>