<!DOCTYPE html> 
<html> 
    <head> 
        <%- include ('./partials/head2') %> 
    </head> 
    <body> 
    <div class="jumbotron"> 
    <!-- <div>  -->
        <%- include ('./partials/loginForm') %> 
    </div> 
    </body> 
</html>