<!DOCTYPE html> 
<html> 
    <head> 
        <%- include ('./partials/head') %> 
        <%- include ('./partials/navbar') %> 
    </head> 
    <body>             
        <%- include ('./partials/updateNews') %> 
    </body> 
    <%- include ('./partials/footer') %> 
    
</html>






